// даёт блоку паддинги общие для сайта
.l-content-container {
	@include content-container;
}

// Даёт максимальную ширину контента создовая резиновые отступы, которые задаются в конфиге
.l-main-container {
	@include main-container;
}

// задаёт отрицательные отсутпы content отступа + main отступа c обоих сторон
.l-negative-container-all {
	@include negative-container($side: "all");
}

// задаёт отрицательные отсутпы content отступа + main отступа cправа
.l-negative-container-right {
	@include negative-container($side: "right");
}

// задаёт отрицательные отсутпы content отступа + main отступа cлева
.l-negative-container-left {
	@include negative-container($side: "left");
}

// растягивает элемент на всю ширину окна
.l-stretch-all {
	@include layout-negative-margin($side: "all");

	// даёт вложенному блоку теже размеры/отступы, что и основному контенту сайта
	.l-compress-content {
		@include main-container;
	}
}

// растягивает элемент на всю ширину окна слева
.l-stretch-left {
	@include layout-negative-margin($side: "left");

	// даёт вложенному блоку теже размеры/отступы, что и основному контенту сайта
	.l-compress-content {
		@include main-container;

		margin-right: 0;
	}
}

// растягивает элемент на всю ширину окна справа
.l-stretch-right {
	@include layout-negative-margin($side: "right");

	// даёт вложенному блоку теже размеры/отступы, что и основному контенту сайта
	.l-compress-content {
		@include main-container;

		margin-left: 0;
	}
}

// даёт вложенному блоку теже размеры/отступы, что и основному контенту сайта
.l-compress-all {
	@include main-container;

	margin: auto;
}

// даёт вложенному блоку теже размеры/отступы, что и основному контенту сайта
.l-compress-left {
	@include main-container;

	margin-right: 0;
}

// даёт вложенному блоку теже размеры/отступы, что и основному контенту сайта
.l-compress-right {
	@include main-container;

	margin-left: 0;
}
