// Пользовательские переменные

// Цвета, по возможности желательно придерживаться этого формата
$color-white: #fff;
$color-black: #0a0a0a;
$color-red: #c04c36;
$color-blue: #245b8f;
$color-gray: #242424;
$color-gray-light: #454545;
$color-turquoise: #04a7b5;
$color-bg-site: #f9f9fa;

// минималка и максималка для контента сайта (может не совпадать с брекпоинтами)
$content-width-min: 320px; // минимальная ширина сайта
$content-width-max: 1920px; // максимальная ширина сайта

$site-breakpoints: (
	min: 320px,
	mobile: 720px,
	middle: 1600px,
	full: 1920px,
);

// паддинг контента СТРАНИЦЫ для разных брекпоинтов
// работают через max-width
$content-padding: (
	min: 1.25rem,
	mobile: 1.25rem,
	middle: 1.25rem,
	full: 1.25rem,
);

$content-padding-over-max: 1.25rem;

// паддинг для MAIN для разных брекпоинтов
// работают через max-width
$main-padding: (
	min: 0,
	mobile: 0,
	middle: 0,
	full: 0,
);

$main-padding-over-max: 0;

// отступ для grid-container и grid-cell для разных брекпоинтов
// работают через max-width
$gutter-size: (
	min: 2rem,
	mobile: 2rem,
	middle: 2rem,
	full: 2rem,
);

$gutter-size-over-max: 2rem;

// базовый размер ширифта для разных брекпоинтов
$font-size: (
	min: 20px,
	mobile: 20px,
	middle: 20px,
	full: 20px,
);

$font-size-over-max: 20px;

$global-font-size: 20px;

$body-background: $color-black;
$body-font-color: $color-white;
$body-font-family: "Poppins", "Helvetica", sans-serif;
$body-font-size: 1rem;

// Брекпоинты по ширине
$breakpoints-width: (
	"zero": 0,
);

// Брекпоинты по высоте
$breakpoints-height: (
	"zero": 0,
);
