@import "styles/styles";

$block-name: "b-artist-banner";

.#{$block-name} {
	position: relative;
	display: flex;
	align-items: flex-end;
	padding: 1rem;

	&__back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: var(--bg-image);
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		box-shadow: inset 0 -180px 150px rgb(0 0 0 / 90%);
		z-index: -1;
	}

	&__main {
		display: block;
		width: 100%;

		@include for-width("mobile") {
			display: flex;
		}
	}

	&__artist-img {
		width: 10rem;
		height: 10rem;
		object-fit: cover;
		border-radius: 12.5rem;
		outline: 1px solid $color-red;
	}

	&__name-container {
		display: block;

		@include for-width("mobile") {
			flex: 1 1 auto;
			display: flex;
			flex-wrap: wrap;
			margin-left: 2.5rem;
		}
	}

	&__name {
		margin-right: auto;
	}

	&__subscribe {
		display: inline-block;
		margin-top: auto;

		.b-subscribe-button {
			height: 3rem;
		}
	}
}
