@import "styles/styles";

$block-name: "b-side-menu";

.#{$block-name} {
	max-width: 18.8rem;
	padding: 1rem;
	background-color: $color-gray;

	@include for-width("mobile") {
		padding: 2rem;
	}

	&__header {
		display: flex;
		align-items: center;
		margin-bottom: 3rem;
	}

	&__title {
		display: none;
		margin-left: 0.75rem;

		@include for-width("middle") {
			display: block;
		}
	}

	&__icon {
		flex: 0 0 auto;
		width: 2.6rem;
		height: 2.6rem;

		@include for-width("mobile") {
			width: 3.6rem;
			height: 3.6rem;
		}
	}

	&__items {
		//
	}

	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 1.5rem;
		color: $color-gray-light;
		justify-content: center;

		@include for-width("mobile") {
			margin-bottom: 3rem;
		}

		@include for-width("middle") {
			justify-content: flex-start;
		}

		&:hover {
			.#{$block-name}__item-icon {
				background-color: $color-white;
			}

			.#{$block-name}__item-title {
				color: $color-white;
			}
		}

		&.active {
			pointer-events: none;

			.#{$block-name}__item-icon {
				background-color: $color-white;
			}

			.#{$block-name}__item-title {
				color: $color-white;
			}
		}

		&-icon {
			flex: 0 0 auto;
			width: 2rem;
			height: 2rem;
			mask-image: var(--icon);
			mask-position: center;
			mask-size: contain;
			background-color: $color-gray-light;
			transition: background-color 0.2s;

			@include for-width("mobile") {
				width: 2.5rem;
				height: 2.5rem;
			}
		}

		&-title {
			display: none;
			margin-left: 2rem !important;
			transition: color 0.2s;

			@include for-width("middle") {
				display: block;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
