@import "styles/styles";

$block-name: "b-artists-page";

.#{$block-name} {
	&__search {
		margin-top: 1rem;
		width: 100%;
	}

	&__artists {
		@include grid-container;

		display: flex;
	}

	&__artist {
		@include grid-cell(3, $top: true);
	}
}
