@import "styles/styles";

$block-name: "b-pager";

.#{$block-name} {
	position: relative;
	display: flex;
	flex-wrap: wrap;

	&.start {
		.#{$block-name}__start {
			display: block;
		}
	}

	&.end {
		.#{$block-name}__end {
			display: block;
		}
	}

	&.s-start {
		.#{$block-name}__space.start {
			display: block;
		}
	}

	&.s-end {
		.#{$block-name}__space.end {
			display: block;
		}
	}

	&.prev-disable {
		.#{$block-name}__prev {
			display: none;
		}
	}

	&.next-disable {
		.#{$block-name}__next {
			display: none;
		}
	}

	&__start-mobile,
	&__end-mobile {
		display: flex;
		width: 100%;
		text-align: start;
		transition: color 0.2s linear;
		color: $color-white;

		@include for-width("950") {
			display: none;
		}

		&::after {
			content: "";
			display: block;
			width: 15px;
			height: 100%;
			mask-image: url("/images/icons/arrow.png");
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: contain;
			transition: background-color 0.2s linear, margin-left 0.2s linear;
			background-color: $color-white;
			margin-left: 5px;
			cursor: pointer;
		}

		&:hover {
			&::after {
				margin-left: 15px;
			}
		}
	}

	&__start-mobile {
		margin-bottom: 5px;
	}

	&__end-mobile {
		margin-top: 10px;
	}

	&__prev,
	&__next {
		width: 20px;
		height: 2rem;
		mask-image: url("/images/icons/arrow.png");
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: contain;
		transition: background-color 0.2s linear;
		background-color: $color-gray-light;
		cursor: pointer;

		&:hover {
			background-color: $color-white;
		}
	}

	&__prev {
		transform: rotate(180deg);
		margin-right: 0.25rem;
	}

	&__next {
		margin-left: 0.25rem;
	}

	&__pages {
		display: flex;
		border-bottom: 2px solid $color-gray-light;
	}

	// Скрываем лишние элементы на мобильном разрешении
	// перебевая модификаторы
	&__start,
	&__end,
	&__space {
		@include for-width("950", $direction: "down") {
			display: none !important;
		}
	}

	&__start {
		display: none;
	}

	&__middle {
		display: flex;
	}

	&__end {
		display: none;
	}

	&__space {
		display: none;
		position: relative;
		top: 2px;
		width: 2.5rem;
		border-bottom: 2px solid $color-gray;
	}

	&__page {
		position: relative;
		top: 2px;
		height: 100%;
		text-align: center;
		min-width: 2.5rem;
		border-bottom: 0 solid $color-gray-light;
		transition: border-bottom-width 0.2s linear;
		cursor: pointer;

		&:hover {
			border-bottom-width: 4px;
		}

		&.active {
			border-bottom: 4px solid $color-white;
			pointer-events: none;
		}
	}
}
