@import "styles/styles";

$block-name: "b-album";

.#{$block-name} {
	position: relative;

	&:hover {
		.#{$block-name}__name {
			color: $color-red;
		}
	}

	&__image {
		//
	}

	&__name {
		//
	}

	&__year {
		color: $color-gray-light;
	}

	&__link {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
}
