@import "styles/styles";

$block-name: "b-song-row";

.#{$block-name} {
	display: flex;
	align-items: center;
	text-align: center;
	background-color: transparent;
	border-radius: 12px;
	padding: 0.5rem;
	transition: background-color 0.2s linear;
	cursor: pointer;

	&.active {
		background-color: $color-gray;

		.#{$block-name} {
			&__play {
				display: block;
			}

			&__image-container::before {
				display: block;
			}
		}

		.#{$block-name}__duration {
			display: none;
		}

		.#{$block-name}__current-duration {
			display: block;
		}
	}

	&:hover {
		background-color: $color-gray;

		.#{$block-name} {
			&__play {
				display: block;
			}

			&__image-container::before {
				display: block;
			}
		}
	}

	&__image-container {
		position: relative;
		height: 2.8rem;
		margin-right: 0.5rem;

		@include for-width("mobile") {
			margin-right: 1.5rem;
		}

		// Задний фон иконок play и stop
		&::before {
			display: none;
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 100%;
			margin: auto;
			background-color: $color-white;
		}
	}

	&__album-image {
		object-fit: contain;
		width: auto;
		height: 100%;
		border-radius: 12px;
	}

	&__play {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 2rem;
		height: 2rem;
		margin: auto;
		mask-image: url("/images/icons/play.png");
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: contain;
		background-color: $color-red;
		cursor: pointer;
		transition: transform 0.2s linear;

		&:hover {
			transform: scale(1.1);
		}

		&.play {
			mask-image: url("/images/icons/pause.png");
		}
	}

	&__name {
		text-align: left;
	}

	&__album-name {
		text-align: left;
		font-weight: 500;
		color: $color-gray-light;
	}

	&__favorite {
		width: 2.4rem;
		height: 2.4rem;
		margin-left: auto;
		background-color: $color-gray-light;
		mask-image: url("/images/icons/favorite.png");
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: contain;
		cursor: pointer;
		transition: transform 0.2s linear;

		&:hover {
			transform: scale(1.1);
		}

		&.active {
			background-color: $color-red;
		}
	}

	&__duration {
		margin-left: 1rem;
	}

	&__current-duration {
		display: none;
		margin-left: 1rem;
	}
}
